[ng-sortable] {
  position: relative;
}

[ng-sortable] .sortable-element {
  /* Maybe something here */
}

[ng-sortable] .sortable-element.sortable-element-dragitem {
  display: block;
  position: absolute;
  z-index: 99999;
  background: #fff;
  padding: 5px;
  -webkit-box-shadow:5px 7px 34px #666;
     -moz-box-shadow:5px 7px 34px #666;
          box-shadow:5px 7px 34px #666;
}

[ng-sortable] .sortable-element.sortable-element-active {
  opacity: 0.5;
  display: block;
}

[ng-sortable].sortable-active {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[ng-sortable].sortable-both .sortable-element {
  display: inline-block;
}

[ng-sortable].sortable-horizontal .sortable-element {
  display: inline-block;
  white-space: nowrap;
}
